<div id="container">
	<div id="lookcover">
		<%= image_tag(look.cover.url(:thumb))%>
	</div> 
	<div id="lookinfo"> 
		<h2> 
			<%=h look.title %>
		</h2> 
	  <h5> 	
			By <%= link_to look.user.display_name, user_url(look.user) %>
	  </h5> 
	  <p> 
			<%=h look.content %>
	  </p> 
	</div>
</div>