<% unless @user_looks.nil? %>
	<% @user_looks.each do |look| %>
	  <h2><%= look.title %></h2>
	  <p>
	  	<%= link_to 'Preview', user_look_url(:id => look.id) %>
	    <%= link_to 'Edit', edit_user_look_url(:id => look.id) %>
	    <%= link_to 'Delete', user_look_url(:id => look.id), 
	      :confirm => 'Are you sure you want to delete this look?', 
	      :method => 'delete' %>
	  </p>
	<% end %>
<% end %>