<%= render :partial => 'look_summary', :locals => {:look => @look} %>
<div id= "canvas"> 
	<%= render :partial => 'look_page_select', :locals => { :look => @look } %>
  <div id= "TextArea">
		<div id="content">
			<% unless @look.pages.empty? %>
				<%= @look.pages.first.content %>
			<% else %>
				<p>No pages added yet, <%= link_to 'add one', new_user_look_page_url(@look.user, @look) %>
			<% end %>
		</div>
  </div> 
	<a id="LastPage" href="#">< Last Page</a> 
	<button id="NewPage">New Page</button>
	<a id="NextPage" href="#">Next Page ></a> 
</div> 
