@import url(css_reset.css);
#navContainer {
  width: 100%; }
  #navContainer #topBar {
    height: 6px;
    margin-bottom: 3px;
    background: white url(/images/baseNavBG.png) repeat-x; }
  #navContainer #navigation img#logo {
    margin: 0 6px; }
  #navContainer #navigation ul {
    float: right;
    font-size: 0.9em; }
    #navContainer #navigation ul li {
      display: inline;
      padding: 20px 6px 9px;
      margin-right: 2px; }

#notice {
  height: hgt; }
  #notice #message {
    margin: 0 auto;
    text-align: center;
    width: 45%;
    line-height: hgt; }

#header {
  width: 730px;
  margin: 0 auto;
  height: 30px; }
  #header ul {
    float: left;
    margin-left: 10px;
    display: inline;
    font-size: 0.9em; }
    #header ul li {
      padding: 7px 6px 15px;
      display: inline; }
    #header ul li.active {
      background-color: #d5d5d5;
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px; }
  #header .button {
    float: right; }

#contentContainer {
  padding: 30px 30px 30px 30px;
  width: 700px;
  background-color: #d5d5d5;
  margin: 0 auto;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }
  #contentContainer div.pagination {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    clear: both; }
  #contentContainer div.lookPreview {
    clear: both;
    height: 200px;
    padding: 30px 0 0 30px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #929292;
    background: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
    #contentContainer div.lookPreview #lookContent p.author {
      margin: -7px 0 8px 0;
      padding-left: 10px; }
    #contentContainer div.lookPreview #lookContent img {
      float: left;
      margin-left: -4px;
      margin-right: 10px; }
    #contentContainer div.lookPreview #lookContent h2 {
      margin-left: 5px;
      font-size: 1.25em;
      font-weight: bold;
      line-height: 45px; }
    #contentContainer div.lookPreview #lookContent p {
      margin-left: 5px;
      float: left;
      font-size: 0.8em;
      width: 316px; }
    #contentContainer div.lookPreview #lookContent p.tags {
      border-left: 1px solid #929292;
      height: 65px;
      margin-left: 10px;
      padding-left: 10px;
      width: 147px; }
    #contentContainer div.lookPreview ul {
      margin: 25px 0 0 0;
      clear: both;
      float: left;
      color: #929292;
      font-size: 0.8em; }
      #contentContainer div.lookPreview ul li {
        display: inline; }

/* General Classes */
.button {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.75em;
  padding: 6px;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left-width: 2px;
  border-left-color: #00c800;
  border-right-width: 2px;
  border-right-color: #00c800;
  border-top-width: 2px;
  border-top-color: #00c800;
  background-color: #009800;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

input.watermarked {
  color: #999; }
