/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* General CSS */
body {
	font-family: arial;
}

/* Top Navigation Bar */

#logo
{
	float: left;
}

#container
{
	background: #fff;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 0;
}

#navigation
{
	float: left;
	width: 100%;
	background: #d5d5d5;
	height: 2.5em;
	text-shadow: #eaeaeb 0 1px 0;
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 4px;
}

#navigation ul
{
	margin: 0;
	padding-top: 0.4em;
	float: right;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	line-height: 1.5em;
	font: 0.4em;

}

#navigation li a
{
	display: inline;
	padding: 5px 10px;
	color: #424242;
	text-decoration: none;
}

#navigation li a:hover 
{
	text-decoration: underline;
}

/* Look Info Area */

#lookcover
{
	float: left;
	padding-right: 9px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 30px;
}

#lookinfo
{
	clear: right;
	padding: 51px 20px 20px;
	font-family: arial;
	width: 600px;
	margin-bottom: 11px;
}

div#lookinfo h5 {
	color: #929292;
	white-space: pre;
	text-decoration: none;
}

p {
	font: 0.8em/1.3em arial;
	padding-top: 0;
}

#lookinfo h2
{
	color: #000;
	font-size: 160%;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: -5px;
	padding-top: 20px;
}

/* Edit/Preview Tabs (still needs "tab effect" styling, and I can't figure that out) */

#editpreview {
	float: left;
	width: 100%;
	background: #fffeff;
	height: 1em;

}

#editpreview ul {
	float: right;
}

#editpreview ul li
{
	display: inline;
}

#editpreview li a
{
	padding: 0 10px;
	color: #424242;
	text-decoration: none;
	font-size: 0.9em;
}

#editpreview li a:hover 
{
	text-decoration: underline;
}

/* Look Snippet Lists */

div.LookSnippet img {
	float: left;
	display: inline;
	margin-right: 10px;
}

div.LookSnippet h5 {
	clear: right;
	display: inline;
}

div.LookSnippet {
	clear: both;
	display: block;
	height: 150px;
}

/* The Working Area */

div#canvas {
	text-align: center;
	background-color: #d5d5d5;
	padding-bottom: 24px;
	clear: both;
	padding-top: 20px;
}

#PageSelector select {
	width: 492px;
	height: 40px;
	font: bold 1em arial;
	color: #424242;
	margin-top: 2em;
}

button#NewPage {
	display: inline;
}



#TextArea {
	width: 690px;
	height:  605px;
	margin: 15px auto 1px;
	clear: both;
	background-color: #fffeff;
	border: 1px solid #929292;
}

div#content {
	padding: 45px;
	text-align: left;
}

div#editable  {
	margin: 0 auto;
	
}

#footer { 
	clear:both;
	background-color:#333;
	height:100px;
}

/* Home Page Stuff */
#homecanvas {
	width: 700px;
	margin: 0 auto;
}

div#homecanvas h3 {
	color: #424242;
	font: bold 4em/1 arial;
	text-shadow: #d5d5d5 0 2px 0;
	display: inline-block;
	background-color: #fffeff;
	float: right;
	clear: right;
	width: 184px;
	margin-left: 7px;
	margin-right: 25%;
	margin-top: 165px;
}

div#register {
	width: 333px;
	text-align: right;
	padding: 20px 15px 0 0;
	float: right;
	margin-right: 5px;
	margin-left: auto;
	line-height: 25px;
	border-right: 4px solid #d5d5d5;
	margin-top: 150px;
}

div#register p {
	margin-bottom: 13px;
}
/* View Look */

a#LastPage {
	float: left;
	margin-left: 10%;
	font-family: arial;
	color: #424242;
	text-decoration: none;
	text-shadow: #fffeff 0 1px 0;
}

a#LastPage:hover {
	text-decoration: underline;
}

a#NextPage {
	float: right;
	margin-right: 10%;
	font-family: arial;
	color: #424242;
	text-decoration: none;
	text-shadow: #fffeff 0 1px 0;
}

a#NextPage:hover {
	text-decoration: underline;
}

/* Notifications */

#flash {
	
}
