@import "css_reset.css";

@mixin rounded($radius: 7px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow() {
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#navContainer {
	width: 100%;
	#topBar {
		height: 6px;
		margin-bottom: 3px;
		background: #fff url(/images/baseNavBG.png) repeat-x;
	}
	#navigation {
		img#logo {
			float: left;
			margin: 0 6px;
		}
		ul {
			float: right;
			font-size: 0.9em;
			li {
				display: inline;
				padding: 20px 6px 9px;
				margin-right: 2px;
			}
		}
	}
}
#notice {
	clear:both;
	$hgt: 70px;
	width: 100%;
	height: $hgt;
	#message {
		margin: 0 auto;
		text-align:center;
		width: 45%;
		line-height: $hgt;
	}
}

#header {
	width: 730px;
	margin: 0 auto;
	height: 25px;
	ul {
		float: left;
		margin-left: 10px;
		display: inline;
		font-size: 0.9em;
		li {
			padding: 7px 6px 15px;
			display:inline;
		}
		li.active {
			background-color: #d5d5d5;
			@include rounded;
		}
		li span.tab {
			color: #000;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	a.button {
		float: right;
		margin: -7px 0 0 0;
	}
	#search {
		float: right;
		input[type='text'] {
		 	margin: 0 10px 0 35px;
		}
		margin: -15px 0 0 0;
	}
}

#contentContainer {
	$grey: #929292;
	padding: 30px 30px 30px 30px;
	width: 700px;
	background-color: #d5d5d5;
	margin: 0 auto;
	@include rounded;
	div.pagination {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		clear: both;
	}
	/*shared styles*/
	div.lookPreview, div.lookEditor {
		padding: 30px 0 0 30px;
		margin-bottom: 50px;
		@include shadow;
		border: 1px solid $grey;
		background: #fff;
		@include rounded;
		div.lookContent {
			p.author {
				margin: -7px 0 8px 0;
				padding-left: 10px;
			}
			img {
				float: left;
				margin-left: -4px;
				margin-right: 10px;
			}
			h2 {
				margin-left: 5px;
				font-size: 1.25em;
				font-weight: bold;
				line-height: 45px;
			}
			p {
				margin-left: 5px;
				float: left;
				font-size: 0.8em;
				width: 316px;
			}
			p.tags {
				border-left: 1px solid $grey;
				height: 65px;
				margin-left: 10px;
				padding-left: 10px;
				width: 147px;
			}
		}
	}
	/*independent styles */
	div.lookPreview {
		clear:both;
		ul {
			margin: 25px 0 0 0;
			clear: both;
			float: left;
			color: $grey;
			font-size: 0.8em;
			li {display:inline;}
		}
	}
	div.lookEditor {
		div.lookContent {
			ul {
				margin: 25px 0 0 0;
				clear: both;
				float: left;
				color: $grey;
				font-size: 0.8em;
				li {display:inline;}
			}
		}
		div#pageContent {
			border-top: 1px solid #c0c0c0;	
			clear: both;
			div.pageList {
				border-right: 1px solid $grey;
				font-size: 0.8em;
				margin: 15px 0;
				height: 546px;
				width: 88px;
				float: left;
				h3 {
					font-size: 1.1em;
					font-weight: bold;
				}
				ul {
					margin: 0 0 0 -12px;
					li {
						width: 96px;
						margin: 0 0 0 -18px;
						padding: 3px 0 2px 22px;
						border-top: 1px solid #d5d5d5;
						.button {
							position: relative;
							top: 8px;
							left: 0;
							font-size: 0.9em;
						}
					}
				}
			}
			div.pageEditor {
				margin: 15px 0;
				float: right;
				width: 570px;
				label {
					font-weight: bold;
					font-size: 1.1em;
					margin: 0 0 0 35px;
				}
				input[type='text'] {
					width: 400px;
					height: 25px;
				}
				p.pageEditorPanel {
					margin: 15px 0 0 0;
				}
			}
		}
	}
}
#signupbox {
	margin: 100px auto;
	width: 550px;
	@include rounded;
	@include shadow;
	border: 1px solid #919191;
	padding: 25px;
	h1 {
		font-size: 2em;
		text-align:center;
		text-shadow: 0 2px 0 #d5d5d5;
		font-weight: bold;
		margin: 0 0 10px 0;
	}
	p {
		font-size: 0.9em;
		text-align: center;
		margin: 10px auto;
	}
	#labels {
		float: left;
		div.left {
			width: 80px;
			float: left;
			label {
				line-height: 1.4em;
			}
		}
		div.right {
			float: right;
		}
	}
	#signup {
		top: 50px;
		left: 50px;
		position: relative;
		margin: 0 0 0 40px;
	}
}
/* General Classes */

.button {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.75em;
	padding: 6px;
	color: #fff;
	border: {
		bottom: 1px solid rgba(0,0,0,0.25);
		left: {
			width: 2px;
			color: #00c800;
		}
		right: {
			width: 2px;
			color: #00c800;
		}
		top: {
			width: 2px;
			color: #00c800;
		}
	}
	background-color: #009800;
	@include rounded(5px);
	@include shadow;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
input.watermarked {
	color: #999;
}
input.error {
	background: #FF6A6A;
}
div.clear {
	clear: both;
	height: 15px;
}