@import url(css_reset.css);
#navContainer {
  width: 100%; }
  #navContainer #topBar {
    height: 6px;
    margin-bottom: 3px;
    background: white url(/images/baseNavBG.png) repeat-x; }
  #navContainer #navigation img#logo {
    margin: 0 6px; }
  #navContainer #navigation ul {
    float: right;
    font-size: 0.9em; }
    #navContainer #navigation ul li {
      display: inline;
      padding: 20px 6px 9px;
      margin-right: 2px; }

#notice {
  height: hgt; }
  #notice #message {
    margin: 0 auto;
    text-align: center;
    width: 45%;
    line-height: hgt; }

#header {
  width: 730px;
  margin: 0 auto;
  height: 30px; }
  #header ul {
    float: left;
    margin-left: 10px;
    display: inline;
    font-size: 0.9em; }
    #header ul li {
      padding: 7px 6px 15px;
      display: inline; }
    #header ul li.active {
      background-color: #d5d5d5;
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px; }
    #header ul li span.tab {
      color: #000;
      cursor: pointer; }
      #header ul li span.tab:hover {
        text-decoration: underline; }
  #header .button {
    float: right; }
  #header #search {
    float: right; }
    #header #search input[type='text'] {
      margin: 0 10px; }

#contentContainer {
  padding: 30px 30px 30px 30px;
  width: 700px;
  background-color: #d5d5d5;
  margin: 0 auto;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  /*shared styles*/
  /*independent styles */ }
  #contentContainer div.pagination {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    clear: both; }
  #contentContainer div.lookPreview, #contentContainer div.lookEditor {
    padding: 30px 0 0 30px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #929292;
    background: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
    #contentContainer div.lookPreview div.lookContent p.author, #contentContainer div.lookEditor div.lookContent p.author {
      margin: -7px 0 8px 0;
      padding-left: 10px; }
    #contentContainer div.lookPreview div.lookContent img, #contentContainer div.lookEditor div.lookContent img {
      float: left;
      margin-left: -4px;
      margin-right: 10px; }
    #contentContainer div.lookPreview div.lookContent h2, #contentContainer div.lookEditor div.lookContent h2 {
      margin-left: 5px;
      font-size: 1.25em;
      font-weight: bold;
      line-height: 45px; }
    #contentContainer div.lookPreview div.lookContent p, #contentContainer div.lookEditor div.lookContent p {
      margin-left: 5px;
      float: left;
      font-size: 0.8em;
      width: 316px; }
    #contentContainer div.lookPreview div.lookContent p.tags, #contentContainer div.lookEditor div.lookContent p.tags {
      border-left: 1px solid #929292;
      height: 65px;
      margin-left: 10px;
      padding-left: 10px;
      width: 147px; }
  #contentContainer div.lookPreview {
    clear: both;
    height: 200px; }
    #contentContainer div.lookPreview ul {
      margin: 25px 0 0 0;
      clear: both;
      float: left;
      color: #929292;
      font-size: 0.8em; }
      #contentContainer div.lookPreview ul li {
        display: inline; }
  #contentContainer div.lookEditor div.lookContent ul {
    margin: 25px 0 0 0;
    clear: both;
    float: left;
    color: #929292;
    font-size: 0.8em; }
    #contentContainer div.lookEditor div.lookContent ul li {
      display: inline; }
  #contentContainer div.lookEditor div#pageContent {
    border-top: 1px solid #c0c0c0;
    clear: both; }
    #contentContainer div.lookEditor div#pageContent div.pageList {
      border-right: 1px solid #929292;
      font-size: 0.8em;
      margin: 15px 0;
      height: 546px;
      width: 88px;
      float: left; }
      #contentContainer div.lookEditor div#pageContent div.pageList h3 {
        font-size: 1.1em;
        font-weight: bold; }
      #contentContainer div.lookEditor div#pageContent div.pageList ul {
        margin: 0 0 0 -12px; }
        #contentContainer div.lookEditor div#pageContent div.pageList ul li {
          width: 96px;
          margin: 0 0 0 -18px;
          padding: 3px 0 2px 22px;
          border-top: 1px solid #d5d5d5; }
          #contentContainer div.lookEditor div#pageContent div.pageList ul li .button {
            position: relative;
            top: 8px;
            left: 0;
            font-size: 0.9em; }
    #contentContainer div.lookEditor div#pageContent div.pageEditor {
      margin: 15px 0;
      float: right;
      width: 570px; }
      #contentContainer div.lookEditor div#pageContent div.pageEditor label {
        font-weight: bold;
        font-size: 1.1em;
        margin: 0 0 0 35px; }
      #contentContainer div.lookEditor div#pageContent div.pageEditor input[type='text'] {
        width: 400px;
        height: 25px; }

#signupbox {
  margin: 100px auto;
  width: 550px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid #919191;
  padding: 25px; }
  #signupbox h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: 0 2px 0 #d5d5d5;
    font-weight: bold;
    margin: 0 0 10px 0; }
  #signupbox p {
    font-size: 0.9em;
    text-align: center;
    margin: 10px auto; }
  #signupbox #labels {
    float: left; }
    #signupbox #labels div.left {
      width: 80px;
      float: left; }
      #signupbox #labels div.left label {
        line-height: 1.4em; }
    #signupbox #labels div.right {
      float: right; }
  #signupbox #signup {
    top: 50px;
    left: 50px;
    position: relative;
    margin: 0 0 0 40px; }

/* General Classes */
.button {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.75em;
  padding: 6px;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left-width: 2px;
  border-left-color: #00c800;
  border-right-width: 2px;
  border-right-color: #00c800;
  border-top-width: 2px;
  border-top-color: #00c800;
  background-color: #009800;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

input.watermarked {
  color: #999; }

input.error {
  background: #FF6A6A; }

.clear {
  clear: both; }
