<% form_tag(login_path) do  %>
	<li><%= text_field_tag(:username, '', :size => 25, :class => 'watermarked', :title => 'Username') %></li>
  <li><%= password_field_tag(:password, '', :size => 25, :class => 'watermarked', :title => 'Password') %></li>
	<li><%= submit_tag("Login")%></li>
<% end %>