<% form_tag(login_url) do  %>
	<li><%= text_field_tag(:username, '', :size => 25) %></li>
  <li><%= password_field_tag(:password, '', :size => 25) %></li>
	<li><%= submit_tag("Login")%></li>
<% end %>