<div id="lookinfo">
	<h2>Please login using your Lookit account.</h2>
</div>
<div id= "canvas">
	<div id="TextArea">
		<div id="content">
			<%= render :partial => 'users/form_errors', :locals => {:req => false} %>
			<% form_tag(url_for(:action => 'login'), :method => 'post') do %>
			  Username: <%= text_field_tag("username", '', :class => 'required') %><br />
			  Password: <%= password_field_tag("password", '', :class => 'required') %><br />
			  <%= submit_tag("Login")%>
			<% end %>
		</div>
	</div>
</div>