<div id="signupbox">
	<h1>We Meet Again</h1>
	<p>Is that a creepy thing to say on a sign-in page?</p>
	<div id="labels">
		<%= render :partial => 'users/form_errors', :locals => {:req => false} %>
		<% form_tag(login_users_path, :method => 'post') do %>
			<div class="left">
				<label>Username: </label><br />
				<label>Password: </label><br />
			</div>
			<div class="right">
				<%= text_field_tag("username", '', :class => 'required') %><br />
			  <%= password_field_tag("password", '', :class => 'required') %><br />
			</div>
	</div> 
	<div id="signup"> 
			<%= submit_tag("Sign In &raquo;", :class => 'button signin')%><br />
		<% end %>
	</div>
	<div class="clear"></div>
</div>