<%= render :partial => 'looks/look_summary', :locals => {:look => @page.look} %>
<div id= "canvas"> 
	<%= render :partial => 'looks/private_look_page_select', :locals => { :look => @page.look } %>
  <div id= "TextArea">
		<div id="content">
			<%= render :partial => 'page_editor_panel', :locals => { :page => @page }%>
			<br />
			<%= @page.content %>
		</div>
  </div> 
	<a id="LastPage" href="#">< Last Page</a> 
	<a id="NextPage" href="#">Next Page ></a> 
</div>