<%= render :partial => 'published_nav' %>
<div id="canvas">
	<div id="TextArea">
		<div id="content">
			<%= render :partial => 'looks/public_look_list_display', :collection => @looks, :as => :look %>
		</div>
	</div>
</div>