<div id="container">
	<h3>Viewing published looks by <%= @user.display_name %></h3>
	<br />
</div>
<div id="canvas">
	<div id="TextArea">
		<div id="content">
			<%= render :partial => 'looks/public_look_list_display', :collection => @looks, :as => :look %>
		</div>
	</div>
</div>